.munlogo{
	height:6em;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
   outline: 0;
}

.px-5{
	padding-left: 5rem;
	padding-right: 5rem;
}

.marg-pic{
    margin: 1em;
}

.navbar-collapse{
    padding-left: 10em;
}

.center-image{
    margin-left: auto;
    margin-right: auto;
}

.parallax { 
    /* The image used */
    background-image: url("img_parallax.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}