/*
    Template Name: Guident- event template
    Author:
    Author URI:
    Description:
    Version: 1.0
*/


/* Table of Content
==================================================
1.  Global Styles
2.  Typography
3.  Common styles
4.  Navigation
5.  HEADER AREA
6.  SECTION ABOUT
7.  SECTION FEATURES
8. SECTION TESTIMONIAL
9. SECTION CONTACT
10. SECTION FOOTER


/*========================================
	Google font
==================================================*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:400,600,700,300');
@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont93e3.eot?v=4.4.0');
	src: url('fonts/fontawesome-webfontd41d.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('fonts/fontawesome-webfont93e3.html?v=4.4.0') format('woff2'), url('fonts/fontawesome-webfont93e3.woff?v=4.4.0') format('woff'), url('fonts/fontawesome-webfont93e3.ttf?v=4.4.0') format('truetype'), url('fonts/fontawesome-webfont93e3.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.btn:active,
.btn.active,
.progress,
.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
}


/**
 * # default
 * ---------------------------------------------------------
 */

body {
	width: 100%;
	min-height: 100%;
	line-height: 24px;
	color: #6a6a6a;
	font-weight: normal;
    position: relative;
    padding-bottom: 8vh;
}

html {
	width: 100%;
	min-height: 100%;
}

p {
	margin-top: 0;
	padding-left: 0px;
}

ol,
ul,
dl,
pre,
blockquote {
	margin-top: 0;
	margin-bottom: 24px;
	padding-left: 0px;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

li {
	list-style-type: none;
	padding-left: 0px;
}


/* ---Typhography--- */

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

h1 {
	font-size: 48px;
	line-height: 56px;
}

h2 {
	font-size: 36px;
	line-height: 42px;
}

h3 {
	font-size: 24px;
	line-height: 32px;
}

h4 {
	font-size: 18px;
	line-height: 50px;
}

h5 {
	font-size: 14px;
	line-height: 22px;
}

h6 {
	font-size: 10px;
	line-height: 14px;
	letter-spacing: 1px;
}

.lg-title {
	font-size: 62px;
	line-height: 74px;
}

.sm-title {
	font-size: 31px;
	line-height: 37px;
	/*color: white;*/
}

a,
a:focus,
a:hover,
a:active {
	text-decoration: none;
}

p {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	opacity: .85;
}


/* ---Typhography Responsive--- */

@media(max-width:840px) {
	.title-lg {
		font-size: 48px;
		line-height: 62px;
	}
}

embed,
iframe,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
	/*	width: 100%;*/
}

.section-cta {
	margin-top: 30px;
}


/* ======================================
 * 07. Preloader
/* ====================================== */

#loader {
	background: #fff;
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
}

#loader .icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	background-image: url(../img/preloader.gif);
	background-repeat: no-repeat;
	background-position: center center;
}


/**
 * # component
 * ---------------------------------------------------------
 */

.btn {
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 5px;
	padding: 12px 32px;
	font-weight: 700;
	border: 0px;
	border: 1px solid transparent;
	transition: 0.3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	-ms-transition: 0.3s all ease-in-out;
}

.btn-grey {
	color: #212121;
	background-color: transparent;
	border: 2px solid #212121;
}

.btn-grey:hover {
	color: white;
	background-color: #ED1C24;
	border-color: #ED1C24;
}

.btn-white {
	border-color: #fff;
	background: #fff;
	color: #333;
}

.btn-black {
	color: #fff;
	background-color: #333;
	border-color: #333;
}

.btn-black:hover,
.btn-white:hover {
	color: #fff;
	background-color: #ED1C24;
	border-color: #ED1C24;
}

.btn-feature {
	color: #fff;
	background-color: #ED1C24;
	border-color: #ED1C24;
}

.btn-feature:hover {
	border-color: #232323;
	background: #fff;
	color: #333;
}

.form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 600;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.form-control:focus {
	border-color: #ED1C24;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control::-webkit-input-placeholder {
	color: #9e9e9e;
}

.form-control::-moz-placeholder {
	color: #9e9e9e;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #9e9e9e;
}

.form-control {
	border-color: rgba(0, 0, 0, 0.04);
	background-color: rgba(0, 0, 0, 0.04);
}

.input-group-shadow {
	-webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.12);
}


/*=================================
	NAVIGATION
=========================================*/

.navbar-nav > li > a,
.navbar-text {
	font-weight: 600;
	color: #fff;
}

.navbar-brand {
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
}

.navbar-brand img {
	margin-top: 0px;
}

.navbar-brand {
	padding: 15px 15px;
}

a.navbar-brand i {
	font-size: 30px;
	color: #fff;
	width: 50px;
	height: 50px;
	background: #ED1C24;
	text-align: center;
	padding-top: 14px;
	border-radius: 100%;
	margin-right: 10px;
	margin-right: 5px;
}

.navbar-nav > li > a {
	line-height: 1.86667;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	background: transparent;
}

.navbar-default {
	background-color: rgba(255, 255, 255, .96);
	background: #fff;
}

.navbar-default .navbar-nav > li > a {
	text-transform: capitalize;
	font-size: 16px;
	line-height: 26px;
}

.navbar-btn {
	margin-top: 15px;
}


.navbar-default .navbar-nav > .active > a{
	color: #212121!important;
}


.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav a:hover,
.navbar-default .navbar-nav a:focus {
	color: #f48a00!important;
}


@media (min-width: 992px) {
	.navbar-nav > li > a {
		padding-top: 18px;
		padding-bottom: 18px;
	}
	.navbar-lg .navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.navbar-right a.btn {
	margin-left: 10px;
}

.navbar-default:hover .navbar-nav:hover{
	color: blue;
}

/**
 * commona
 * ---------------------------------------------------------
 */

.site-header-fixed-top,
.site-header-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}

.site-header-fixed-top {
	top: 0;
}

.site-header-fixed-bottom {
	bottom: 0;
}

.section-padding {
	padding: 90px 0px;
}


/*===========================================
Banner Content
===========================================*/

#main-banner {
	background: url("../img/slider/comingsoon.jpg") fixed 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
	width: auto;

}


.overlay::before {
	background-color: rgba(25, 25, 25, 0.85);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.overlay1::before{
	background-color: rgba(0, 0, 0, 0.96);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.overlay2::before{
	background-color: rgba(255, 255, 255, .94);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.bg-overlay{
	background: rgba(0,0,0,.6);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.banner-main{
	padding: 200px 0px 170px;
	width: 70%;
	margin: 0 auto;
}
.banner-main h3{
	/*color: #fff;*/
	font-weight: 700;
}

.banner-main h4{
	/*color: #eaeaea;*/
	font-weight: 400;
	margin: 35px auto;
	line-height: 50px!important;
}
.banner-time{
	border: 2px solid#fff;
	background: #eee;
	padding: 60px 50px;
	margin-top: 140px;
	border-radius: 15px;
}
.banner-time h2{
	margin-top: 0px;
	line-height: 60px;
	font-family: "lato",sans-serif;
}
.banner-time h2 span{
	display: block;
	color: #ED1C24;
	font-size: 70px;
}
.banner-time h4{
	color: #333;
	margin-bottom: 0px;
}
.banner-time p{
	color: #444;
}


/*
==========================================
center
==========================================
*/

.center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


/*=============================================
	ABOUT SECTION
==============================================*/

#section-about {
	background: #fff;
	border-bottom: 1px solid#eee;
}

.about-intro h2 {
	margin-top: 0px;
	margin-bottom: 30px;
}

.about-intro p {
	margin: 20px 0px 40px;
}

.about-img {
	margin-bottom: 25px;
}


/*==================================================
	ABOUT MORE SECTION
=====================================================*/

#section-conference {
	background: #888888 url("../img/slider/bg-1.jpg")fixed 0% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.header-title {
	margin-bottom: 60px;
}

#section-conference .header-title h3,
#section-conference .header-title h2 {
	margin-top: 0px;
	color: #fff;
}

.header-title h3 span {
	color: #ED1C24;
}

.about-box {
	background: #fff;
	margin-bottom: 30px;
	padding: 25px 15px;
	text-align: center;
	border-radius: 5px;
}

.about-box,
.about-box i {
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.about-box i {
	font-size: 50px;
	line-height: 50px;
	margin-bottom: 15px;
	width: 90px;
	height: 90px;
	text-align: center;
	background: #e9e9e9;
	padding-top: 20px;
	border-radius: 100%;
	color: #333;
}

.about-box h4 {
	font-weight: 600;
	color: #222;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-box:hover i {
	color: #fff!important;
	background: #ED1C24;
}

.timetitle {
	color: #ED1C24;
	margin-bottom: 10px;
}


/*===============================================================================
	SECTION SCHEDULE
=================================================================================*/

#schedule-tab {
	background: #F0F0F0;
}

#schedule-tab li {}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #212121;
	background: transparent;
	border: 1px solid transparent;
	outline: none;
	text-align: center;
}

.nav-tabs > li.active > a h3,
.nav-tabs > li.active {
	background: #ED1C24;
	color: #fff!important;
	text-transform: capitalize;
	font-weight: 700;
}

.nav-tabs > li > a {
	border: 0px;
}

.time-desc {
	margin: 15px 0px;
}

.tab-content {
	border: 5px solid#eee;
	margin-top: 10px;
}

.break-time {
	background: #F0F0F0;
	padding: 12px 0px;
}

.desc-inner h3 {
	color: #ED1C24;
}

.desc-inner h4,
.s-time h3 {
	margin-bottom: 0px;
}

.desc-inner h5 {
	margin-top: 0px;
	font-weight: normal;
}

.s-time {
	background: #F0F0F0;
	padding: 10px 10px;
	text-align: center;
}

.s-time h4 {
	margin-top: 0px;
	color: #666;
}

.s-time h4,
.s-time h3,
.desc-inner h3,
.nav-tabs > li > a h3 {
	font-family: "lato", sans-serif;
}


/*===============================================================================
	SECTION SPEAKERS
=================================================================================*/

#section-speaker {
	background: #EEEEEE;
	margin-bottom: 20px;
}

.speaker-box,
.speaker-info {
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.speaker-box {
	border: 2px solid#ddd;
}

.speaker-info {
	background: #fff;
	padding: 20px 30px 15px;
	border-top: 7px solid#ddd;
}

.speaker-box:hover .speaker-info,
.speaker-box:hover {
	border-color: #ED1C24;
}

.speaker-info h4 {
	margin-bottom: 0px;
	color: #ED1C24;
	text-transform: capitalize;
}

.speaker-social a i {
	color: #777;
	font-size: 20px;
	text-align: center;
	border-radius: 3px;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	margin-top: 15px;
}

.speaker-social a:hover i {
	color: #ED1C24;
}

#speaker-carousel {}

#speaker-carousel .carousel-control {
	width: 10%;
	text-shadow: none;
	color: #222;
	top: 40%;
}

#speaker-carousel .carousel-control.right,
#speaker-carousel .carousel-control.left {
	background: none;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 100%;
	padding-top: 13px;
	font-size: 23px;
	opacity: 1;
}


/*===============================================================================
	SECTION PRICING
=================================================================================*/

.pricing-intro {
	margin: 15px 15px;
	padding: 30px 20px;
}

.pricing-box {
	text-align: center;
	border: 1px solid#eee;
	padding-bottom: 50px;
	/*	border-radius:15px;*/
}

.pricing-box.active {
	background: #eee;
}

.price-title h3 {
	margin-bottom: 0px;
}

.price-list {
	padding: 10px 40px;
	border-top: 1px solid#f9f9f9;
}

.price-list li {
	font-size: 16px;
	padding: 5px 0px;
	text-transform: capitalize;
}

.price {
	padding: 15px 0px;
	margin-bottom: 30px;
}

.price sup {
	font-size: 24px;
}

.price span {
	font-size: 50px;
	font-weight: 700;
	color: #232323;
	font-size: 80px;
}

.price-title {
	text-transform: uppercase;
}


/*=============================================
	WHY CHOOS US
==============================================*/

.feature-heading-top {
	background: #888888 url("../img/bg/img05.jpg")fixed 20% 20%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0px 120px;
	position: relative;
	z-index: 1;
}

.feature-heading-top .section-heading h2,
.feature-heading-top .section-heading p {
	color: #fff;
}


/*=============================================
	FEATURE SECTION
==============================================*/

.section-heading {
	width: 70%;
	margin: 0 auto 50px;
}

.section-heading h3 {
	text-transform: none;
}

#feature-wrap {
	margin-top: -80px;
	background: #fff;
	z-index: 10;
	position: relative;
}

#section-features {
	padding-bottom: 50px;
}

.feature-content {
	margin-bottom: 50px;
	padding: 20px 30px;
	border-bottom: 2px solid#eee;
	position: relative;
	-webkit-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.feature-content:before {
	position: absolute;
	content: "";
	width: 40px;
	height: 3px;
	background: #FEA703;
	right: 0px;
	bottom: -2px;
}

.feature-content i {
	font-size: 40px;
	width: 80px;
	height: 80px;
	text-align: center;
	padding-top: 18px;
	border-radius: 100%;
	margin-bottom: 20px;
	border: 1px solid#eee;
	color: #ED1C24;
}

.feature-info h4 {
	text-transform: capitalize;
	margin-bottom: 20px;
	/*	color: #ED1C24;*/
}

.feature-info p {
	display: block;
}

.feature-content:hover,
.feature-content.active {
	background: #FEA703;
	color: #fff;
}

.feature-content:hover i,
.feature-content.active i {
	background: #fff;
}

.feature-content:hover h4,
.feature-content.active h4 {
	color: #fff;
}


/*=====================================================
    SECTION GALLERY
==========================================================*/

#owl-demo .item {
	display: block;
	padding: 30px 0px;
	margin: 5px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
	padding: 5px 9px;
}

.owl-theme .owl-buttons i {
	margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
	left: -45px;
	top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
	right: -45px;
	top: 55px;
}

#section-gallery {
	background: #F4F5F5;
}

.owl-dots span {
	border: 1px solid rgba(0, 0, 0, 0.4);
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 20px;
	margin: 0 5px;
}

.owl-dots .active span {
	background-color: rgba(0, 0, 0, 0.4);
}

.owl-controls {
	padding: 1px;
	height: auto;
}

.owl-dots > .owl-dot {
	display: inline-block;
}

.owl-dots {
	text-align: center;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}


/*/============================
	SECTION BLOG
===================================*/

.download-wrap {
	margin-bottom: 60px;
	width: 75%;
	padding-left: 0px;
}

.download-wrap h2 {
	text-transform: none;
}

.download-wrap a.btn {
	margin-top: 10px;
}

.download-content {
	margin-top: 40px;
}

.blog-info h4 {
	margin-top: 25px;
}

.blog-info p {
	margin: 20px 0px 30px;
}

.blogTime {
	color: #999;
	font-weight: normal;
	font-size: 18px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #eee;
}

.blogTime span {
	color: #444;
}

.read-more {
	border: 1px solid#ddd;
	padding: 10px 15px;
	color: #444;
	margin-top: 20px;
	background: #eee;
}


/*=====================================================
    SECTION SPONSORS
==========================================================*/

#section-sponsor {
	background: #e9e9e9;
	padding: 80px 0px 120px;
}

.sponsor {
	background: #fff;
	padding: 30px;
	margin-bottom: 20px;
}


/*=====================================================
    SECTION CONTACT
==========================================================*/

#section-contact {
	background: url("../img/bg/bg-events.png") fixed 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.venue-info {
	color: #fff;
}

.venue-info h2 {
	color: #fff;
	text-transform: uppercase;
}

.venue-info h4 {
	color: #eee;
	font-weight: normal!important;
	margin-bottom: 10px;
	margin-top: 10px;
}

.venue-info p {
	color: #fff;
	margin-top: 20px;
	font-weight: 700;
	text-transform: capitalize;
}

.venue-location {
	color: #fff;
}

.venue-location i,
.venue-info i {
	font-size: 40px;
	border: 2px solid#eee;
	width: 70px;
	height: 70px;
	text-align: center;
	padding-top: 15px;
}

.venue-location h2 {
	text-transform: uppercase;
	color: #fff;
}

.venue-location p {
	margin-bottom: 30px;
}

.venue-location a.info {
	border: 2px solid#fff;
	padding: 7px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 20px;
	font-size: 14px;
}


/*=====================================================
    SECTION FOOTER
==========================================================*/

#section-footer {
	background: #111;
	padding-top: 6vh;
	padding-bottom: 2vh;
    position: absolute;
    left : 0;
    right : 0;
    bottom : 0;
}

.footer-content h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.footer-social li a i {
	color: #fff;
	font-size: 25px;
	line-height: 25px;
	-webkit-transition: all .3s ease-in 0s;
	-o-transition: all .3s ease-in 0s;
	transition: all .3s ease-in 0s;
}

.footer-content h4 {
	color: #eee;
}

.footer-social li a:hover i {
	color: #fff;
}
