/*transparent navbar*/
.bg-faded{
  background: none;
}
/*full screen menu*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d5b135;
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*Navbar*/
.nff-icon{
  height: 3em;
}
.navbar-right{
  display: flex!important;
  width: 100%;
}
.navbar{
  padding-left: 4em;
  padding-right: 4em;
}
/*Intro*/
.intro{
  background-image: url('../images/home-pattern.png');
  min-height: 23em;
  min-width: 65%;
  padding: 1em;
}
.intro-title{
  text-align: center;
  color:#d5b135;
  font-family: 'Inconsolata', monospace;
  font-size: 60px;
}
hr{
  border-top: 4px solid #d5b135;
  width: 40%;
}
/*sections*/
section{
  margin-bottom: 10em;
}
.category-title{
  margin-bottom: 2em;
}
.competition-title{
  color: #d5b135;
  margin-bottom: 1em;
}
.competition-details{
  width: 20em;
}
/*Responsive intro image*/
@media only screen and (max-width: 500px) {
  .intro{
    width: 100%;
  }
}
